* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  /* .logo img{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   */
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    color: #f0a500;
  }
  
  .burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
  }
  .highlight {
    display: block;
    margin-left: 0;
    margin-right: 1rem;
}

.highlight {
    border: 2px solid #000 ;
    background-color:rgb(66, 66, 239);
    color: #fff;
    
    /* color: #474646; */
    /* color:rgb(66, 66, 239); */
    padding: 0.5rem 1rem;
    
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.highlight:hover {
    transform: scale(1.05);
    color: #000;
    background-color: rgb(255, 255, 255);
}

.highlight:active {
    transform: scale(0.95);
}

  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .burger {
      display: flex;
    }
  
    .nav-links li {
      text-align: center;
      margin: 10px 0;
    }
  }
  